<ion-view title="Admin Add Major">
  <ion-content padding="true" scroll="true" class="has-header has-footer">
    <form>

      <label class="item item-input">
        <span class="input-label">Major Id</span>
        <input type="text" ng-model="majors.majorid">
      </label>
      <label class="item item-input">
        <span class="input-label">Major Name</span>
        <input type="text" placeholder="Enter Major Name" ng-model="majors.majorname">
      </label>

      <div class="spacer" style="height: 40px;"></div>
      <button class="button button-stable button-block  button-full" ng-click="creatingMajor(majors)">Create Major
      </button>

    </form>
  </ion-content>
</ion-view>
